Flask==2.3.2
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
Werkzeug==3.0.1
Flask-Migrate==3.0.1
PyMuPDF==1.18.19
python-docx==0.8.11
openai==0.27.4
fire==0.4.0
loguru==0.6.0
datasets==1.11.0
typer==0.4.0
rich==10.4.0
python-dotenv==0.19.2
requests==2.31.0
